bootstrap.servers={{inventory_hostname}}
security.protocol=SSL
ssl.truststore.location={{client_ssl_truststore_location}}
ssl.truststore.password={{client_ssl_truststore_password}}
ssl.keystore.location={{client_ssl_keystore_location}}
ssl.keystore.password={{client_ssl_keystore_password}}
ssl.key.password={{client_ssl_key_password}}