127.0.0.1       localhost

192.168.77.21   kafkanode1.demo.localnet kafkanode1 zookeeper1.demo.localnet
192.168.77.22   kafkanode2.demo.localnet kafkanode2 zookeeper2.demo.localnet
192.168.77.23   kafkanode3.demo.localnet kafkanode3 zookeeper3.demo.localnet
